:root {
  /* Colores */
  --gris-texto: #202128;
  --blanco-texto: #F1F1F1;
  --verde-obscuro: #55591D;
  --verde-pacch: #BBC447;
  --verde-claro: #EBEEC9;
  --naranja-obscuro: #6A2D0C;
  --naranja-pacch: #EB844C;
  --naranja-claro: #FCEFE8;
  --azul-obscuro: #1E5755;
  --azul-pacch: #40B8B3;
  --azul-claro: #CAECEB;
  --morado-obscuro: #4A2B48;
  --morado-pacch: #6E3F6A;
  --morado-claro: #E5D2E3;
  --blanco-total: #FFFFFF;
  --negro-total: #000000;
  /* Fuentes */
  --fuente-principal: neulis-sans, sans-serif;
  --fuente-titulos: neulis-neue, sans-serif;
  --fuente-cursiva: neulis-cursive, sans-serif;
  /* Pesos */
  --grosor-light: 300;
  --grosor-normal: 400;
  --grosor-negrita: 700;
  /* Tamaños */
  --5px: 0.313rem;
  --10px: 0.625rem;
  --20px: 1.25rem;
  --40px: 2.5rem;
  --80px: 5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

/* [data-theme="light"] {
}

[data-theme="dark"] {
} */

body {
  font-family: var(--fuente-principal);
  font-weight: var(--grosor-normal);
  font-size: 1.125rem;
  color: var(--gris-texto);
}

h1 {
  font-family: neulis-neue, sans-serif;
  font-weight: var(--grosor-negrita);
  font-size: 5rem;
  font-variant-ligatures: none;
  font-feature-settings: "swsh" 1;
}

h2 {
  font-family: neulis-neue, sans-serif;
  font-weight: var(--grosor-negrita);
  font-size: 4rem;
}

h3 {
  font-family: neulis-neue, sans-serif;
  font-weight: var(--grosor-negrita);
  font-size: 2.25rem;
  text-transform: uppercase;
}

/* Inicia Index */
a {
  color: var(--verde-pacch);
  text-decoration: none;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  overflow-wrap: break-word;
  word-break: break-all;
  hyphens: auto;
}

a:hover {
  color: var(--verde-obscuro);
}

.no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/*
 * Inicia Header
 */

header {
  position: sticky;
  top: 0.625rem;
  z-index: 10;
}

.botones-header div {
  padding-right: 1.25rem;
}

/* .botones-header ul li {
  padding-right: 1.25rem;
} */

.btn-chico {
  padding: 5px 1.25rem;
  border-radius: 99999px;
}

.btn-grande {
  padding: 10px 1.25rem;
  border-radius: 99999px;
}

.btn {
  font-size: 1rem;
}

.btn-verde-claro {
  color: var(--verde-obscuro);
  background-color: var(--verde-claro);
  border-color: var(--verde-claro);
  text-transform: uppercase;
}


.btn-verde-claro:hover,
.btn.btn-verde-claro.show,
.btn.btn-verde-claro:first-child:active {
  color: var(--blanco-texto);
  background-color: var(--verde-obscuro);
  border-color: var(--verde-obscuro);
}

.btn.btn-verde-claro.show,
.btn.btn-verde-claro:first-child:active {
  color: var(--verde-obscuro);
  background-color: var(--verde-claro);
  border-color: var(--verde-claro);
}

.btn-verde-obscuro {
  color: var(--blanco-texto);
  background-color: var(--verde-obscuro);
  border-color: var(--verde-obscuro);
  text-transform: uppercase;
}

.btn-verde-obscuro:hover {
  color: var(--verde-obscuro);
  background-color: var(--verde-claro);
  border-color: var(--verde-claro);
}

.btn.btn-verde-obscuro.show,
.btn.btn-verde-obscuro:first-child:active {
  color: var(--blanco-texto);
  background-color: var(--verde-obscuro);
  border-color: var(--verde-obscuro);
}

.dropdown-item.active,
.dropdown-item:active {
  color: var(--blanco-texto);
  text-decoration: none;
  background-color: var(--verde-obscuro);
}

/* .dropdown-item:focus,
.dropdown-item:hover {
  color: var(--verde-obscuro);
  background-color: var(--verde-claro);
} */

.dropdown-menu.show {
  border-color: transparent;
}


.logo-header-pacch img {
  height: 2.25rem;
  margin-left: 1rem;
}

.logo-header-unam img {
  height: 2.25rem;
}

.logo-header-cch img {
  height: 2.25rem;
  margin-left: 1rem;
}

.navbar-oa-pacch {
  background-color: var(--blanco-texto);
  padding: 0.875rem 1.25rem;
  border-radius: 1.25rem;
}

.redes-header {
  display: flex;
  align-items: center;
  padding-left: 1.25rem;
  border-left: 1px solid var(--gris-texto);
}

.redes-header p {
  font-family: neulis-cursive, sans-serif;
  font-weight: var(--grosor-normal);
  text-transform: uppercase;
  margin: 0;
  padding: 0 0.938rem 0 0;
  font-size: 1rem;
}

.redes-header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.redes-header ul li {
  display: inline-block;
  vertical-align: middle;
  /* font-size: 1.25rem; */
  margin: 0 0.313rem;
}

.redes-header ul li a {
  display: block;
  text-decoration: none;
}

.redes-header ul li:last-child {
  margin: 0;
  font-size: 1.5rem;
}

.redes-header ul li a i {
  color: var(--gris-texto);
}

.redes-header ul li a:hover i,
.redes-header ul li a:focus i {
  color: var(--verde-pacch);
}

/* Inicia Portada */
.fondo-oa-pacch {
  background-color: var(--verde-claro)
}

.hero-portada {
  padding-top: 5rem;
  padding-bottom: 5rem;
  text-align: center;
}

.badges-oa-pacch {
  padding: 2.5rem 0 5rem 0;
  font-family: neulis-cursive, sans-serif;
  font-weight: var(--grosor-light);
}

.badge {
  padding: 0.625rem 1.25rem;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: var(--grosor-normal);
  border-radius: 0.625rem;
  border-bottom-left-radius: 0;
}

.pill-verde {
  color: var(--gris-texto);
  background-color: var(--verde-pacch);
}

.pill-naranja {
  color: var(--blanco-texto);
  background-color: var(--naranja-obscuro);
}

.img-portada {
  border-radius: 2.5rem;
}

.objetivo-oa-pacch {
  background-color: var(--verde-pacch);
  padding: 5rem;
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
}

/* Termina Portada */

/* Inicia Footer */
#footer-oa-pacch {
  background-color: var(--gris-texto);
  padding: 5rem 0 60px 0;
  font-family: neulis-cursive, sans-serif;
  font-weight: var(--grosor-light);
  letter-spacing: 1px;
}

.footer-row {
  margin-left: 0;
  margin-right: 0;
  display: -ms-flexbox !important;
  display: flex !important;
}

hr.linea-footer {
  border-top: 1px solid var(--blanco-texto);
  width: 100%;
  margin: 0;
}

#footer-oa-pacch p {
  color: var(--blanco-texto);
  font-size: 1rem;
  margin: 0;
}

.footer-row .navbar-nav>li>a {
  padding: 0 10px;
}

.footer-row a {
  color: var(--blanco-texto);
  text-decoration: none;
}

.footer-row a:hover,
.footer-row a:focus {
  color: var(--verde-pacch);
}

#footer-oa-pacch .navbar-nav a {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  color: var(--blanco-texto);
}

#footer-oa-pacch .nav>li>a:hover,
#footer-oa-pacch .nav>li>a:focus {
  text-decoration: none;
  color: var(--verde-pacch);
  background-color: transparent;
}

#creditos-footer {
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex: 1 1 auto !important;
  flex: 1 1 auto !important;
  -ms-flex-pack: start !important;
  justify-content: flex-start !important;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

#creditos-social {
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex: 1 1 auto !important;
  flex: 1 1 auto !important;
  -ms-flex-pack: end !important;
  justify-content: flex-end !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.redes-footer {
  float: left;
}

.redes-footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.redes-footer ul li {
  display: inline-block;
  zoom: 1;
  vertical-align: middle;
}

.redes-footer ul li a {
  display: block;
  font-size: 1.2rem;
  margin: 0 5px;
  text-decoration: none;
}

.redes-footer ul li a i {
  color: var(--blanco-texto);
}

.redes-footer ul li a:hover i,
.redes-footer ul li a:focus i {
  color: var(--verde-pacch);
}

#footer-oa-pacch .navbar-nav {
  flex-direction: row;
}

/* Termina Footer */

/* Inicia Introducción */

.breadcrumb-oa-pacch {
  display: flex;
  justify-content: center;
  padding: 2.5rem 0 5rem 0;
  font-family: var(--fuente-cursiva);
  font-weight: var(--grosor-normal);
}

.breadcrumb-oa-pacch .breadcrumb {
  background-color: var(--verde-claro);
  color: var(--gris-texto);
  padding: 0.313rem 1.25rem;
  border-radius: 9999px;
  margin: 0;
}

.breadcrumb-oa-pacch .breadcrumb li a {
  color: var(--gris-texto);
}

.fondo-oa-introduccion {
  background-color: var(--verde-pacch);
  padding: 5rem;
  border-radius: 1.25rem;
}

.hero-introduccion {
  padding-top: 5rem;
  padding-bottom: 0;
  text-align: center;
}

.texto-introduccion {
  padding-left: 5rem;
}

.contenido-oa-pacch {
  padding: var(--80px) 0 0 0;
}

.badges-oa-pacch-interior {
  padding-bottom: 20px;
  font-family: var(--fuente-cursiva);
  font-weight: var(--grosor-light);
}

.card-oa-pacch .card-body {
  padding: var(--40px);
}

.card.card-oa-pacch {
  border-radius: var(--20px);
  border: transparent
}

.card-oa-verde {
  background-color: var(--verde-claro);
}

.card-oa-verde a {
  color: var(--verde-obscuro);
}


.card-oa-naranja {
  background-color: var(--naranja-claro);
}

.card-oa-naranja a {
  color: var(--naranja-obscuro);
}

.intro-tema {
  padding-top: var(--80px);
  padding-bottom: var(--40px);
}

/* Termina Introducción */

/* Inician Media Queries */

@media (max-width: 1200px) {
  #footer-oa-pacch {
    text-align: center;
    padding: var(--40px) 0 var(--20px) 0;
  }

  .footer-row,
  #creditos-social {
    justify-content: center !important;
  }

  #creditos-footer {
    display: block !important;
    padding-bottom: 0;
  }

  .redes-footer {
    float: none;
    padding-left: 0;
  }
}

@media (max-width: 991px) {

  body {
    font-size: 1rem;
  }

  .logo-header-pacch img {
    margin-left: 0;
  }

  .redes-header {
    display: none;
  }

  .navbar-collapse {
    padding-top: 0.875rem;
  }

  .botones-header div:last-child {
    padding: 0;
  }

  /* .btn {
    font-size: 0.938rem;
  } */

  .hero-portada {
    padding-top: var(--40px);
    padding-bottom: var(--40px);
  }

  .badges-oa-pacch {
    padding: var(--40px) 0 var(--40px) 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* .botones-header ul li {
    padding: 1.25rem 0 0 0;
  }

  .botones-header ul li a {
    width: 100%;
  } */

  h1 {
    font-size: 3rem;
    margin-bottom: 0;
  }

  h2 {
    font-size: 2.5rem;
    margin-bottom: 0;
  }

  h3 {
    font-size: 2rem;
    text-transform: capitalize;
  }

  .badge.pill-verde {
    font-size: 0.938rem;
    padding: var(--5px) var(--10px);
  }

  .badges-oa-pacch .badge.pill-verde:first-child {
    margin: 0 0 var(--10px) 0;
  }

  .objetivo-oa-pacch {
    padding: var(--40px) 12px;
    text-align: center;
  }

  .btn-comenzar-mobile {
    border-radius: 999999px;
    text-transform: uppercase;
  }

  .breadcrumb-oa-pacch {
    padding: var(--20px) 0 var(--40px) 0;
  }

  .hero-introduccion {
    padding-top: var(--40px);
  }

  .texto-introduccion {
    padding-left: 0;
  }

  .fondo-oa-introduccion {
    padding: var(--20px);
  }

  .texto-introduccion {
    padding-top: var(--20px);
  }

  .contenido-oa-pacch {
    padding: var(--40px) 0 0 0;
  }

  .card-oa-pacch .card-body {
    padding: var(--20px);
  }

  .card.card-oa-pacch {
    margin-top: var(--20px);
  }

  .intro-tema {
    padding-top: var(--40px);
    padding-bottom: var(--20px);
  }
}

@media (max-width: 576px) {

  #footer-oa-pacch .navbar-nav {
    flex-direction: column;
  }

}

/* Terminan Media Queries */